html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background: radial-gradient(circle, #2E8B57 0%, #145A32 70%);

}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: #85bef0;
    color: white;
    padding: 1rem 0.5rem;
}

header h1 {
    font-size: 1rem;
    text-align: center;
}

.zona-juego {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zona-mesa {
    gap: 20px;
}



.mano-layout {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 700px;
}

.pozo-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}

.mano-layout h2,
.pozo-layout h2 {
    margin-bottom: 10px;
}


.mano,
.pozo {
    color: white;
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.carta {
    width: 90px;
    height: 130px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #333;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s;
}

.carta-pozo {
    width: 112.5px;
    height: 162.5px;
    background-color: rgb(230, 222, 222);
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.carta:hover {
    transform: translateY(-10px);
    border: 2px solid #ebd61e;
    animation: bounce 0.4s ease;
}


.valor {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.valor.arriba {
    top: 8px;
    left: 8px;
}

.valor.abajo {
    bottom: 8px;
    right: 8px;
    transform: rotate(180deg);
}


.mazo {
    background-color: rgb(224, 22, 22);
    border-color: black;
    border-width: 2px;
    color: white;
}

.mazo:hover {
    transform: translateY(-10px);
    border: 2px solid #1e22eb;
    animation: bounce 0.4s ease;
}

.mesa {
    width: 90px;
    height: 130px;
    border: 3px dashed #aaa;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.mesa:hover {
    background-color: #e0e0e0;
}


footer {
    padding: 0.5rem 1rem;
    font-size: 12px;
    background-color: #333;
}

footer p,
a {
    color: white;
}


.slot {
    width: 90px;
    height: 130px;
    border: 3px dashed #aaa;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.slot:hover {
    background-color: #e0e0e0;
}




/* 
body {
    font-family: 'Segoe UI', sans-serif;
    color: #2b2b2b;

    
    background:
        repeating-linear-gradient(
            90deg,
            #7b4a2e,
            #7b4a2e 40px,
            #6a3f27 40px,
            #6a3f27 80px
        );
}

.header {
    background: linear-gradient(
        to bottom,
        #75c9f1 0%,
        #ffffff 50%,
        #75c9f1 100%
    );
    text-align: center;
    padding: 2rem 1rem;
}

.header h1 {
    font-size: 3rem;
}

.header p {
    font-size: 1.2rem;
} 
*/